<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<main class="container" >
    <div class="mt-5 row" >
      <h1 class="text-center bg-secondary p-5" style="color: rgb(247, 244, 244)!important"> Shivam Maniya </h1> 
    </div>
    <div class="row mt-5" style="margin-bottom: 100px;">
      <div class="col-sm-4  ">
        <img src="https://shivam-portfolio-assignment1.herokuapp.com/Assets/images/shivamPro.jpeg" height="90%" width="100%"/>
      </div>
      <div class="col-sm-1">
      </div>
      <div class="col-sm-7">
            <p style="font-family:Arial, Helvetica, sans-serif; margin-bottom: 60px"  >
            <strong> Email Id :</strong> shivammaniya7469@gmail.com <br/>
            <strong>Phone NO</strong> :+1 (647) 4512728 <br/>
            <strong>About me</strong> :I consider myself as an ideal candidate. During more than two years of on hand 
            experience on professional field, computer programming education and portfolio work while 
            being the valuable part of IT teams in an Agile environment. I have developed numerous 
            responsive, cross platforms flexible and functional web and mobile applications, knowledge of 
            troubleshooting issues and complex problem-solving skills from these experiences would be 
            perfection for the core requirements of the stated position.
            My proven skills in on-site Java Software development with Oracle12C and modern front-end 
            JavaScript frameworks such as React JS, Hooks, Redux, Material UI Mutate JS etc... will be 
            helpful for the position. As a front-end developer my proven experience with React, HTML/CSS 
            and SASS will be great fit for the position. As a back-end developer, I have earned notable 
            experience in testing and troubleshooting issues through Node.js, Express.js and Next.js. 
            Additionally, knowledge in managing and developing databases both SQL and NoSQL like 
            PostgreSQL, MongoDB and firebase. Moreover, I personally admire the applications which 
            include Object Oriented Methodology, Model View Controller (MVC) and user-friendly
            functional-design.
            </p>
            <a href="https://shivam-portfolio-assignment1.herokuapp.com/Assets/myResume - shivam.pdf" download="" style="color: white;" class="btn btn-secondary">Hit here to download my resume</a>
        </div>
    </div>
  </main>


<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>