<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <!-- Main Content: Home page -->
<main class="container" >
  <div class="mt-5 bg-secondary" >
    <h1 style="color: white!important; padding: 100px; border: 1px; border-radius: 15px;"> Welcome to my conteplation, my creativity, my dreams...</h1> 
  </div>
  <div class="text-left">
    <button type="button" onclick="location.href='/about'" class="btn btn-dark" style="margin-left: auto;">Hit me to explore more ---></button>
  </div>
</main>


<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>




