<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<main class="container" >
    <div class="mt-5 row" >
    </div>

    <!-- arrenging content in horizontal manner -->
    <div class="row justify-content-md-center mb-5 ">
            <div class="col-md-4 mb-5">
                <h2 class="color:secondary mb-5 mx-auto" style="width: 266px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" > AGRICULTURE ROBOTICS</h2>
                <div class="mb-5">
                    <img src="http://localhost:3000/Assets/images/AgricProject1.jpg" alt="project1"  width="100%" >
                </div>
                <p  style="font-family: Arial, Helvetica, sans-serif;"> Agricultural robots are specialized articles of technology that are capable of assisting farmers with a wide range of operations. They have the capability to analyze, contemplate, and carry out a multitude of functions, and they can be programmed to grow and evolve to match the needs of various tasks. </p>
            </div>
            <div class="col-md-4">
                <h2 class="color:secondary mb-5 mx-auto" style="width: 266px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">RESTAURENT MANAGEMENT</h2>
                <div class="mb-5">
                    <img src="http://localhost:3000/Assets/images/restaurantProject.jpg" alt="project1"  width="100%" >
                </div>
                <p style="font-family: Arial, Helvetica, sans-serif;"> Restaurant management application is a mobile, cloud-based scheduling and labor management platform trusted by 250,000 restaurant professionals. It helps you save time with scheduling, effectively manage your labor costs, and streamline workforce communications from anywhere
                </p>
            </div>
            <div class="col-md-4">
                <h2 class="color:secondary mb-5 mx-auto" style="width: 266px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">INSTAGRAM CLONE</h2>
                <div class="mb-5" >
                    <img src="http://localhost:3000/Assets/images/Instagram.jpg" alt="project1" height="220px" width="100%" >
                </div>
                <p style="font-family: Arial, Helvetica, sans-serif;"> Instagram is a social media platform where people can share their photos and videoes The app allows users to upload media that can be edited with filters and organized by hashtags and geographical tagging
                </p>
            </div>
    </div>

  </main>
 

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>









